@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
.menuzord, .menuzord * {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.menuzord {
    width: 1000px;
    height: 45px;
    margin: 0 auto;
    position: relative;
    left: 0px;
}

li {
    -o-transition: color .3s linear, background .3s linear;
    -moz-transition: color .3s linear, background .3s linear;
    -webkit-transition: color .3s linear, background .3s linear;
    transition: color .3s linear, background .3s linear
}

.menuzord-menu.scrollable>.scrollable-fix {
    display: none
}

.menuzord-brand {
    margin: 18px 30px 0 0;
    float: left;
    color: #666;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    cursor: pointer
}

ul.menuzord-menu.menuzord-right.menuzord-indented.scrollable {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
}

.menuzord-menu.menuzord-right {
    float: right;
}

.menuzord-menu>li {
    display: inline-block;
    float: left;
    /* border-right: solid 1px #ccc; */
    /*width: 200px;*/
}

.menuzord-menu>li>a {
    padding: 0px 0px 0 0;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #444;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

.menuzord-menu>li.active>a, .menuzord-menu>li:hover>a {
    color: #333
}

ul.dropdown {}

.menuzord-menu ul.dropdown, .menuzord-menu ul.dropdown li ul.dropdown {
    list-style: none;
    margin: -5px 0 0 0;
    padding: 13px 0 5px 0;
    display: none;
    position: absolute;
    z-index: 99;
    min-width: 220px;
    height: 300px;
    white-space: nowrap;
    text-align: left;
    background: url(https://www.estore-test13.com/pic-labo/mega_back02.jpg);
}

.menuzord-menu ul.dropdown li ul.dropdown {
    left: 100%
}

.menuzord-menu ul.dropdown li {
    clear: both;
    width: 100%;
    border: 0;
    font-size: 12px;
    position: relative;
}

.menuzord-menu ul.dropdown li a {
    width: 100%;
    min-width: 199px;
    background: 0 0;
    padding: 15px 15px 10px 40px;
    color: #333026;
    text-decoration: none;
    display: inline-block;
    float: left;
    clear: both;
    position: relative;
    outline: 0;
    -o-transition: padding .2s linear;
    -moz-transition: padding .2s linear;
    -webkit-transition: padding .2s linear;
    transition: padding .2s linear;
    font-size: 100%;
}

.menuzord-menu ul.dropdown li:hover>a {
    /*padding-left:22px;padding-right:19px;background:#363636;*/
    color: #E44305 !important;
}

.menuzord-menu ul.dropdown.dropdown-left {
    left: none
}

.menuzord-menu ul.dropdown li ul.dropdown.dropdown-left {
    left: -100%
}

.menuzord-menu li .indicator {
    margin-left: 3px;
    display: none;
}

.menuzord-menu li ul.dropdown li .indicator {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 15px
}

.menuzord-menu>li>.megamenu {
    width: 660px;
    /* padding: 0px 10px; */
    left: 341px;
    position: absolute;
    display: none;
    z-index: 99;
    background: url(https://www.estore-test13.com/pic-labo/mega_back.jpg);
    margin-top: -5px;
    height: 300px;
    top: 50px;
}

.menuzord-menu>li>.megamenu.megamenu-half-width {
    width: 50%;
    left: auto
}

.menuzord-menu>li>.megamenu.megamenu-quarter-width {
    width: 25%;
    left: auto
}

.menuzord-menu>li>.megamenu .megamenu-row {
    width: 100%;
    margin-top: 15px
}

.menuzord-menu>li>.megamenu .megamenu-row:first-child {
    margin-top: 0
}

.menuzord-menu>li>.megamenu .megamenu-row:after, .menuzord-menu>li>.megamenu .megamenu-row:before {
    display: table;
    content: "";
    line-height: 0
}

.menuzord-menu>li>.megamenu .megamenu-row:after {
    clear: both
}

.menuzord-menu>li>.megamenu .megamenu-row .col1, .menuzord-menu>li>.megamenu .megamenu-row .col10, .menuzord-menu>li>.megamenu .megamenu-row .col11, .menuzord-menu>li>.megamenu .megamenu-row .col12, .menuzord-menu>li>.megamenu .megamenu-row .col2, .menuzord-menu>li>.megamenu .megamenu-row .col3, .menuzord-menu>li>.megamenu .megamenu-row .col4, .menuzord-menu>li>.megamenu .megamenu-row .col5, .menuzord-menu>li>.megamenu .megamenu-row .col6, .menuzord-menu>li>.megamenu .megamenu-row .col7, .menuzord-menu>li>.megamenu .megamenu-row .col8, .menuzord-menu>li>.megamenu .megamenu-row .col9 {
    display: block;
    min-height: 20px;
    float: left;
    margin-left: 3%
}

.menuzord-menu>li>.megamenu .megamenu-row [class*=col]:first-child {
    margin-left: 0
}

.menuzord-menu>li>.megamenu .megamenu-row .col1 {
    width: 5.583333333333%
}

.menuzord-menu>li>.megamenu .megamenu-row .col2 {
    width: 14.166666666666%
}

.menuzord-menu>li>.megamenu .megamenu-row .col3 {
    width: 22.75%
}

.menuzord-menu>li>.megamenu .megamenu-row .col4 {
    width: 31.333333333333%
}

.menuzord-menu>li>.megamenu .megamenu-row .col5 {
    width: 39.916666666667%
}

.menuzord-menu>li>.megamenu .megamenu-row .col6 {
    width: 48.5%
}

.menuzord-menu>li>.megamenu .megamenu-row .col7 {
    width: 57.083333333333%
}

.menuzord-menu>li>.megamenu .megamenu-row .col8 {
    width: 65.666666666667%
}

.menuzord-menu>li>.megamenu .megamenu-row .col9 {
    width: 74.25%
}

.menuzord-menu>li>.megamenu .megamenu-row .col10 {
    width: 82.833333333334%
}

.menuzord-menu>li>.megamenu .megamenu-row .col11 {
    width: 91.416666666667%
}

.menuzord-menu>li>.megamenu .megamenu-row .col12 {
    width: 100%
}

.menuzord .showhide {
    width: 59px;
    height: 46px;
    padding: 13px 0 0;
    display: none;
    float: right;
    text-decoration: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent
}

.menuzord .showhide em {
    width: 20px;
    height: 3px;
    margin: 3.5px 20px 0;
    float: right;
    background: #777
}

.menuzord-menu>li>a>i {
    margin: 0 5px 0 0;
    font-size: 18px;
    float: left;
    line-height: 20px;
    font-family: FontAwesome
}

.menuzord-menu>li.search form {
    float: left;
    padding: 22px 16px 17px
}

.menuzord-menu>li.search form input[type=text] {
    width: 160px;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    background: #f0f0f0;
    border-radius: 2px;
    outline: 0;
    -o-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -webkit-transition: width 1s ease-out;
    transition: width 1s ease-out
}

.menuzord-menu>li.search form:hover input[type=text] {
    width: 160px
}

.menuzord-tabs {
    width: 100%;
    float: left
}

.menuzord-tabs-nav {
    width: 20%;
    margin: 0;
    padding: 0;
    float: left;
    list-style: none
}

.menuzord-tabs-nav>li>a {
    width: 100%;
    padding: 7px 16px;
    float: left;
    font-size: 13px;
    text-decoration: none;
    color: #666;
    border: 1px solid #f0f0f0;
    outline: 0
}

.menuzord-tabs-nav li.active a, .menuzord-tabs-nav li:hover a {
    background: #f0f0f0
}

.menuzord-tabs-content {
    width: 80%;
    min-height: 30px;
    padding: 20px;
    float: right;
    display: none;
    font-size: 13px;
    border: 1px solid #f0f0f0
}

.menuzord-tabs-content.active {
    display: block
}

.menuzord.blue .menuzord-menu ul.dropdown li:hover>a, .menuzord.blue .menuzord-menu>li.active>a, .menuzord.blue .menuzord-menu>li:hover>a {
    color: #4A89DC
}

.menuzord.green .menuzord-menu ul.dropdown li:hover>a, .menuzord.green .menuzord-menu>li.active>a, .menuzord.green .menuzord-menu>li:hover>a {
    color: #37BC9B
}

.menuzord.red .menuzord-menu ul.dropdown li:hover>a, .menuzord.red .menuzord-menu>li.active>a, .menuzord.red .menuzord-menu>li:hover>a {
    color: #444;
}

.menuzord.orange .menuzord-menu ul.dropdown li:hover>a, .menuzord.orange .menuzord-menu>li.active>a, .menuzord.orange .menuzord-menu>li:hover>a {
    color: #ff670f
}

.menuzord.yellow .menuzord-menu ul.dropdown li:hover>a, .menuzord.yellow .menuzord-menu>li.active>a, .menuzord.yellow .menuzord-menu>li:hover>a {
    color: #F6BB42
}

.menuzord.purple .menuzord-menu ul.dropdown li:hover>a, .menuzord.purple .menuzord-menu>li.active>a, .menuzord.purple .menuzord-menu>li:hover>a {
    color: #967ADC
}

.menuzord.pink .menuzord-menu ul.dropdown li:hover>a, .menuzord.pink .menuzord-menu>li.active>a, .menuzord.pink .menuzord-menu>li:hover>a {
    color: #D770AD
}

@media (max-width:768px) {
    .menuzord-responsive.menuzord {
        padding: 0
    }
    .menuzord-responsive .menuzord-brand {
        margin: 8px 30px 10px 20px;
        font-size: 20px;
        line-height: 1.55
    }
    .menuzord-responsive .showhide {
        margin: 0
    }
    .menuzord-responsive .menuzord-menu {
        width: 100%;
        float: left!important
    }
    .menuzord-responsive .menuzord-menu.scrollable {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch
    }
    .menuzord-responsive .menuzord-menu.scrollable>.scrollable-fix {
        display: block
    }
    .menuzord-responsive .menuzord-menu>li {
        width: 100%;
        display: block;
        position: relative
    }
    .menuzord-responsive .menuzord-menu>li>a {
        width: 100%;
        padding: 12px 20px;
        display: block;
        border-bottom: solid 1px #f0f0f0
    }
    .menuzord-responsive .menuzord-menu>li:first-child>a {
        border-top: solid 1px #f0f0f0
    }
    .menuzord-responsive .menuzord-menu ul.dropdown, .menuzord-responsive .menuzord-menu ul.dropdown li ul.dropdown {
        width: 100%;
        left: 0;
        position: static;
        border: none;
        background: #fff;
        float: left
    }
    .menuzord-responsive .menuzord-menu ul.dropdown li {
        position: relative
    }
    .menuzord-responsive .menuzord-menu ul.dropdown li a {
        border-bottom: solid 1px #f0f0f0
    }
    .menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>a {
        padding-left: 40px!important
    }
    .menuzord-responsive .menuzord-menu.menuzord-indented>li>ul.dropdown>li>ul.dropdown>li>a {
        padding-left: 60px!important
    }
    .menuzord-responsive .menuzord-me .indicator {
        display: none;
    }